<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    <div id="page-container">
        <header>
            <h1>LaunchLiving Accomodations</h1>
        </header>
        <main>
            {{{body}}}
        </main>
        <footer>
            <div class="footer-div">
                <p>Authors: Sri Laya Nalmelwar, Sadam Mohamed Usman, Siqiang Fan, Michelle Grilli (C)2023</p>
                <a id="about_us" href="static/homepage.html">About Us</a>
                <a id="project_github" href="https://github.com/mkgrilli/CS546-Group29-FinalProject">Github Project Code</a>
            </div>
        </footer>
    </div>
</body>
</html>
