<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <h1>LaunchLiving Accomodations</h1>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>Authors: Sri Laya Nalmelwar, Sadam Mohamed Usman, Siqiang Fan, Michelle Grilli</p>
        <p>(C)2023</p>
        <p><a id="about_us" href="static/homepage.html">About Us</a></p>
        <p></p><a id="project_github" href="https://github.com/mkgrilli/CS546-Group29-FinalProject">Github Project Code</a></p>
    </footer>
</body>
</html>