<h1>About Us</h1>
<div class="user-nav">
    <a class="all_accomodations" href="/Login">Login</a>
    <a class="create_post" href="/Register">Register</a>
</div>
<article class="main-element">
    <div class="about-desc">
        <p class = "paragraph">We are a group of students who understand the struggles of searching for living accommodations-- so we invented LaunchLiving.
        LaunchLiving is an accommodations searching app that removes the need to post revealing information. It puts all relevant information of an accommodation in an easy-to-access space.
        We hope to take the stress from living accommodations searching so users have more time for the things they enjoy.
        </p>
        <!-- Consider adding a picture of our application, or an apartment -->
        <!-- <img src={{demopic}} alt="Screenshot of the LaunchLiving website." style="border: 4px inset black;"> -->
    </div>
</article>