<form method="POST" class="login-form">
    <div class="form-email">
        <label for="emailAddressInput">Email Address:</label>
        <input type="email" name="emailAddressInput" class="login-form-email" id="emailAddressInput">
    </div>
    <span style="color:red" id="errorEmail" hidden></span>
    <div class="form-password">
        <label for="passwordInput">Enter Password:</label>
        <input type="password" name="passwordInput" class="login-form-password" id="passwordInput">
    </div>
    <span style="color:red" id="errorPassword" hidden></span> <br/>
    <p class="invalid-credentials"><span style="color:red">{{message}}</span></p>
    <button type="submit" class="login-button" onclick=checkCredentials()>Login</button>
    <p class="register-button"><a href="/register">Click here to register</a></p>
</form>

<script src="public/js/login_validator.js"></script>