body {
	font-family: Helvetica, sans-serif;
	margin: 20px;
  }

  .about-section 
  {
	padding: 50px;
	text-align: center;
	background-color: #474e5d;
	color: white;
	margin-left: 20px;
  }

  .title {
	color: grey;
  }

  .button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
  }
  
  .button:hover {
	background-color: #555;
  }

.inputClass {
	border: 3px solid red;

	background-color: rgb(206, 229, 223);
}

h2 {
	color: blue;
  }
  
  #regErrorDiv {
	color: red;
  }

  a {
	color: darkgreen;
	font-size: large;
  }
  
  p {
	font-family: "Times New Roman";
	font-size: large;
  }
  
  .submitButton {
	font-size: large;
	font-weight: 100;
  }
  
  #firstNameInput{
	  font-size: larger;
	  font-family: 'Gill Sans';
  }
  
  #lastNameInput{
	  font-size: larger;
	  font-family: 'Gill Sans';
  }
  
  #emailAddressInput{
	  font-size: larger;
	  font-family: 'Gill Sans';
  }
  
  #passwordInput{
	  font-size: larger;
	  font-family: 'Gill Sans';
  }
  
  #confirmPasswordInput{
	  font-size: larger;
	  font-family: 'Gill Sans';
  }

