body {
	font-family: Helvetica, sans-serif;
	margin: 20px;
  }

  .about-section 
  {
	padding: 50px;
	text-align: center;
	background-color: #474e5d;
	color: white;
	margin-left: 20px;
  }

  .title {
	color: grey;
  }

  .button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
  }
  
  .button:hover {
	background-color: #555;
  }

.inputClass {
	border: 3px solid red;

	background-color: rgb(206, 229, 223);
}

h2 {
	color: blue;
  }
  
  #regErrorDiv {
	color: red;
  }

  a {
	color: darkgreen;
	font-size: large;
  }
  
  p {
	font-family: "Times New Roman";
	font-size: large;
  }
  
  .submitButton {
	font-size: large;
	font-weight: 100;
  }
  
  #firstNameInput{
	  font-size: larger;
	  font-family: 'Gill Sans';
  }
  
  #lastNameInput{
	  font-size: larger;
	  font-family: 'Gill Sans';
  }
  
  #emailAddressInput{
	  font-size: larger;
	  font-family: 'Gill Sans';
  }
  
  #passwordInput{
	  font-size: larger;
	  font-family: 'Gill Sans';
  }
  
  #confirmPasswordInput{
	  font-size: larger;
	  font-family: 'Gill Sans';
  }

.website-intro {
  	margin-bottom: 20px;
}

.search-form {
	  display: flex;
    justify-content: center;
	  align-items: center;
}
  
.search-group select, 
.search-group input {
	  display: flex;
	  flex-direction: column;
	  margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 5px;
}
  
.search-group label {
	  font-size: 1rem;
	  margin-bottom: 0.5rem;
}

.search-group .search-input {
	  font-size: 1rem;
}

.search-group .search-button {
	  font-size: 1rem;
	  margin-left: 2rem;
    padding: 5px 10px;
}

.sort-form {
	  position:absolute;
	  left: 3%;
	  top: 40;
}

.sort-group {
	  margin-bottom: 10px;
}

.sort-group select, 
.sort-group input {
	  width: 160px;
	  padding: 5px;
	  font-size: 1rem;
}

.sort-group button {
    width: 120px;
    padding: 5px;
    font-size: 1rem;
}

.sort-group label {
	  display: block;
	  margin-bottom: 5px;
	  font-size: 1rem;
}

.user-nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    border: 1px solid black;
    box-sizing: border-box;
	  margin-bottom: 1rem;
}

.user-nav a {
    flex-grow: 1;
    text-align: center;
    border-right: 1px solid black;
}

.user-nav a:last-child {
    border-right: none;
}

header {
	  border-bottom: 1px solid #afafaf;
}
  
.login-form label {
	margin-top: 1rem;
    display: block;
    margin-bottom: 0.25rem;
}
  
.login-form input {
	margin-top: 1rem;
    display: block;
    width: 40%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    font-size: 1rem;
}
  
.login-button {
    background-color: #4CAF50;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 3px;
    cursor: pointer;
}

.register-button a {
    background-color:dimgray;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 3px;
    cursor: pointer;
}

.login-button,
  .register-button {
	  display: inline-block;
  	vertical-align: middle;
}

.login-button {
	  margin-right: 50px;
}
  
.invalid-credentials,
  .registration-error {
    text-align: left;
    font-size: 1rem;
    margin-bottom: 1rem;
}

#page-container {
    position: relative;
    min-height: 95vh;
}

footer {
	  margin-top: 1rem;
    position: relative;
    bottom: 0;
    text-align: center;
    width: 99%;
	  border-top: 1px solid #afafaf;
}

footer a {
    display: block;
    text-align: center;
}

.comments-form {
	  display: flex;
	  justify-content: center;
	  align-items: center;
}

.comments-form label {
	  margin-top: 1rem;
    display: block;
    margin-bottom: 0.25rem;
}

.comments-div {
    margin: 20px 0;
    width: 100%;
}

.comments-name {
	  font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.15rem;
}
  
.comment-details {
	  margin: 10px 0 0 0;
    font-size: 0.9rem;
}

.main-element,
.house-element,
.comment-element,
.review-element {
	  width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f5f5f5;
    padding: 1rem;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
}

.house-post {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.review-form {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.comments-form {
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.house-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.house-title h2 {
  color:#555;
}

.house-rating {
    margin-right: 1rem;
}
  
.house-details {
	  margin-bottom: 1rem;
	  justify-content: center;
}

.dashboard-house {
    margin-bottom: 1rem;
    justify-content: center;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
  
.house-details h2 {
	  font-size: 1.5rem;
	  margin-top: 0;
	  margin-bottom: 0.5rem;
}
  
.house-details p {
	  margin-top: 0.5rem;
	  margin-bottom: 0.5rem;
}
  
.image-carousel {
	  display: block;
	  justify-content: center;
	  margin-bottom: 1rem;
}
  
.image-container {
	  margin: 0.5rem;
}
  
.image {
	  width: 100%;
	  height: auto;
	  object-fit: cover;
	  border-radius: 0.25rem;
	  justify-content: center;
}
  
.address-details {
	  margin-bottom: 1rem;
	  justify-content: center;
}
  
.edit-house,
.delete-house {
	  margin-top: 1rem;
}